@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
	--main-color: #D3AD7F;
	--black: #13131A;
	--bg: #010103;
	--border: .1rem solid rgba(255, 255, 255, .3);
}

*{
	font-family: 'Roboto', sans-serif;
	margin: 0; padding: 0;
	box-sizing: border-box;
	outline: none; border: none;
	text-decoration: none;
	text-transform: capitalize;
	transition: .2s linear;
}

html{
	font-size: 62.5%;
	overflow-x: hidden;
	scroll-padding-top: 9rem;
	scroll-behavior: smooth;
}

html::-webkit-scrollbar{
	width: .8rem;
}

html::-webkit-scrollbar-track{
	width: .8rem;
}

html::-webkit-scrollbar-thumb{
	width: .8rem;
	border-radius: 5rem;
}

body{
	background-color: var(--bg);
}

.btn{
	margin-top: 1rem;
	display: inline-block;
	padding: .9rem 3rem;
	font-size: 1.7rem;
	color: #fff;
	background: var(--main-color);
	cursor: pointer;
}

.btn:hover{
	letter-spacing: .2rem;
}

.header{
	position: fixed;
	top: 0; right: 0; left: 0;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: var(--bg);	
	padding: 1.5rem 7%;
	border-bottom: var(--border);
}

.header .logo img{
	height: 9rem;
}

.header .navbar a{
	margin: 0 1rem;
	font-size: 1.6rem;
	color: white;
}

.header .navbar a:hover{
	color: var(--main-color);
	border-bottom: .1rem solid var(--main-color);
	padding-bottom: .5rem;
}

.header .icons div{
	color: white;
	cursor: pointer;
	font-size: 2.5rem;
	margin-left: 2rem;
}

.header .icons div:hover{

}

#menu-btn{
	display: none;	
}

.header .search-form{
	display: flex;
	align-items: center;
	position: absolute;
	top: 115%; right: 7%;
	background: #fff;
	width: 50rem; height: 5rem;
	transform: scaleY(0);
	transform-origin: top;
}

.header .search-form input{
	height: 100%; width: 100%;
	font-size: 1.6rem;
	color: var(--black);
	padding: 1rem;	
	text-transform: none;
}

.header .search-form label{
	cursor: pointer;
	font-size: 2.2rem
	margin-right: 1.5rem;
	color: var(--black);
}

.header .search-form label:hover{
	color: var(--main-color);
}

.header .cart-items-container{
	position: absolute;
	top: 100%; right: -100%;
	height: calc(100vh - 9.5rem);
	width: 35rem;	
	background: #fff;
	padding: 0 1.5rem;
	border-radius: 1em;
}

.header .cart-items-container .cart-item{
	position: relative;
	display: flex;
	align-items: center;
	margin: 2rem 0;		
	gap: 1.5rem;
}

.header .cart-items-container .cart-item .fa-times{
	position: absolute;
	top: 1rem; right: 1rem;
	font-size: 2rem;
	cursor: pointer;
	color: var(--black);
}

.header .cart-items-container .cart-item .fa-times:hover{
	color: var(--main-color);
}

.header .cart-items-container .cart-item img{
	height: 7rem;
}

.header .cart-items-container .cart-item .content h3{
	font-size: 2rem;
 	color: var(--black);
 	padding-bottom: .5rem;
}

.header .cart-items-container .cart-item .content .price{
	font-size: 1.5rem;	
	color: var(--main-color);
}

.header .cart-items-container .cart-item .content .btn{
	width: 100%;
}





/*media queries*/
@media(max-width: 991px){
	html{
		font-size: 55%;
	}

	.header{
		padding: 1.5rem 2rem;
	}
}

@media(max-width: 991px){
	#menu-btn{
		display: none;	
	}
}